<% if resource.errors.any? %>
  <div class="mb-4 p-3 bg-red-50 border border-red-200 rounded-lg">
    <% resource.errors.full_messages.each do |message| %>
      <p class="text-sm text-red-700"><%= message %></p>
    <% end %>
  </div>
<% end %>
